<p id="notice"><%= notice %></p>

<p>
  <strong>Group:</strong>
  <%= link_to @order.group.email, admin_group_path(@order.group) if @order.group %>
</p>
<p>
  <strong>Print Order id:</strong>
  <%= link_to @order.print_order_id, "https://dashboard.pwinty.com/Order/Detail/#{@order.print_order_id}" if @order.print_order_id? %>
  <%= button_to 'Validate and Submit', complete_admin_order_url(@order), method: :put, data: { confirm: 'Are you sure?', disable_with: 'loading...' } unless @order.print_order_id? %>
</p>

<p>
  <strong>Created at</strong>
  <%= l @order.created_at, format: :short %>
</p>


<h1>Listing Photos</h1>

<table>
  <thead>
    <tr>
      <th>Picture</th>
      <th>Group</th>
      <th>Sender e-mail</th>
      <th>Sender name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @order.photos.each do |photo| %>
      <tr>
        <th><%= link_to(image_tag(photo.picture.url(:small)), admin_photo_path(photo)) %></td>
        <td><%= link_to(photo.group.email, group_url(photo.group)) if photo.group %></td>
        <td><%= photo.sender_email %></td>
        <td><%= photo.sender_name %></td>
        <td><%= link_to 'Show', admin_photo_path(photo) %></td>
        <td><%= link_to 'Edit', edit_admin_photo_path(photo) %></td>
        <td><%= link_to 'Destroy', admin_photo_path(photo), method: :delete, data: { confirm: 'Are you sure?' } unless @order.print_order_id? %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<%= link_to 'Edit', edit_admin_order_path(@order) %> |
<%= link_to 'Back', admin_orders_path %>
