<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div>
   Alle Fotos, die an:
    <%= f.text_field :email %>@<%= ENV['SMTP_DOMAIN'] || 'tasveer.de' %>
    geschickt werden, sollen sobald 25
    Fotos gesammelt wurden, 
    entwickelt und per Post an
    <p>Name:<%= f.text_field :recipient_name %></p>
    <p>Straße:<%= f.text_field :recipient_address_1 %></p>
    <p>Zusatz:<%= f.text_field :recipient_address_2 %></p>
    <p>PLZ:<%= f.text_field :recipient_postal_code %></p>
    <p>Stadt:<%= f.text_field :recipient_city %></p>
    <p>Land:<%= f.country_select :recipient_country %></p>
    versendet werden. 

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
