<div id="new-group">
  <%= form_for(@group, html: {class: 'group-form pure-form pure-form-stacked'}) do |f| %>
    <fieldset class="group-identifier">
      <legend>Name your easy to remember photo album</legend>
      <div class="pure-control-group">
        <div class="identifier">
          <%= f.text_field :email, required: true %>@<%= ENV['SMTP_DOMAIN'] %>
        </div>
        All photos sent to this address will now be collected and printed.<br />
        Share this address so that others can participate too!
      </div>
    </fieldset>


    <fieldset class="group-recipient">
      <legend>To whom shall we send the photos?</legend>

      <%= f.fields_for :recipients do |rf| %> 
        <div class="pure-control-group">
          <%= rf.label :name, 'Full name' %>
          <%= rf. text_field :name, required: true, class: 'pure-input-1'  %>
        </div>
        <div class="pure-control-group">
          <%= rf. label :address_1, 'Street' %>
          <%= rf.text_field :address_1, required: true, class: 'pure-input-1'  %>
        </div>
        <div class="pure-control-group">
          <%= rf.label :address_2, 'c/o' %>
          <%= rf.text_field :address_2, class: 'pure-input-1'  %>
        </div>
        <div class="pure-control-group">
          <%= rf.label :postal_code, 'ZIP' %>
          <%= rf.text_field :postal_code, required: true, class: 'pure-input-1'  %>
        </div>
        <div class="pure-control-group">
          <%= rf.label :city, 'City' %>
          <%= rf.text_field :city, required: true, class: 'pure-input-1'  %>
        </div>
        <div class="pure-control-group">
          <%= rf.label :country, 'Country' %>
          <%= rf.country_select :country, {}, { class: 'pure-input-1' } %>
        </div>
      <% end %>

    </fieldset>

    <fieldset>
      <legend>Your email address</legend>
      <div class="pure-control-group">
        <%= f.label :owner_email, 'Your E-Mail address to manage this group' %>
        <%= f.text_field :owner_email, required: true, class: 'pure-input-1' %>
      </div>

      <div class="actions call-to-action small">
        <%= f.submit "Next", class: 'button pure-button button-go' %>
      </div>

    </fieldset>
  <% end %>

</div>
