<div id="group-details">
  E-Mail photos to this address:
  <h1 class="group-email animated">
    <%= link_to @group.email_address, "mailto:#{@group.email_address}" %>
  </h1>
  <p>
    Once the album has collected <%= @group.photo_limit %> the photos will be printed and shipped.
  </p>
  <p>
    <strong>Only <%= @group.photos_missing_for_next_order %> photos are missing for the next album!</strong>
  </p>


  <div class="call-to-action small">
    <%= link_to "Invite your friends and family", "mailto:?subject=Photos for #{@group.recipient_name}&body=Hi! \n\nPlease send photos to #{@group.email_address}. We collect them and send printouts to #{@group.recipient_name}.", class: "button-go pure-button" %>
  </div>

  <% if @manage %>
    <div class="pure-g">
      <div class="pure-u-1-3">

        <h4>Recipients</h4>
        <%= @group.recipient_name %><br />
        <%= @group.recipient_address_1 %><br />
        <% if @group.recipient_address_2? %>
          <%= @group.recipient_address_2 %><br />
        <% end %>
        <%= @group.recipient_postal_code %> <%= @group.recipient_city %><br />
        <%= @group.recipient_country %>
      </div>

      <div class="pure-u-1-3">
        <h4>Billing information</h4>
        <p>oh, lucky you! we haven't built the billing part yet, that means all prints are FREE for you</p>
      </div>

      <div class="pure-u-1-3">
        <h4>Statistics</h4>
        Photos: <%= @group.photos.count %><br />
        Albums: <%= @group.orders.count %><br />
        currently missing: <%= @group.photos_missing_for_next_order %><br />

        Users: <%= @group.users.count %><br />
      </div>
    </div>
  <% end %>

</div>

<div class="photo-row-wrapper">
  <div class="photo-row">
    <% @group.photos.latest.limit(10).each do |photo| %>
      <div class="picture">
        <%= image_tag photo.picture.url(:small), alt: '', class: 'pure-img' %>
      </div>
    <% end %>
  </div>
</div>

