<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Photo limit:</strong>
  <%= @group.photo_limit %>
</p>

<p>
  <strong>Recipient name:</strong>
  <%= @group.recipient_name %>
</p>

<p>
  <strong>Recipient street:</strong>
  <%= @group.recipient_street %>
</p>

<p>
  <strong>Recipient postal code:</strong>
  <%= @group.recipient_postal_code %>
</p>

<p>
  <strong>Recipient city:</strong>
  <%= @group.recipient_city %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>


<h2>New Photos</h2>

<table>
  <thead>
    <tr>
      <th>Picture</th>
      <th>Group</th>
      <th>Sender e-mail</th>
      <th>Sender name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @group.photos.open.each do |photo| %>
      <tr>
        <th><%= link_to(image_tag(photo.picture.url(:small)), photo) %></td>
        <td><%= link_to(photo.group.name, group_url(photo.group)) if photo.group %></td>
        <td><%= photo.sender_email %></td>
        <td><%= photo.sender_name %></td>
        <td><%= link_to 'Show', photo %></td>
        <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
        <td><%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<h2>Orders</h2>

<table>
  <thead>
    <tr>
      <th>Group</th>
      <th>Created</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @group.orders.each do |order| %>
      <tr>
        <td><%= link_to order.group.name, order.group if order.group %></td>
        <td><%= l order.created_at %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

