<div id="new-group">
  <h2><%= @group.email_address %></h2>
  <%= form_for(@recipient, url: group_recipients_url(@group), html: {class: 'group-form pure-form pure-form-stacked'}) do |f| %>
    <fieldset class="group-recipient">
      <legend>Recipient address:</legend>

      <div class="pure-control-group">
        <%= f.label :name, 'Full name' %>
        <%= f.text_field :name, required: true, class: 'pure-input-1'  %>
      </div>
      <div class="pure-control-group">
        <%= f.label :address_1, 'Street' %>
        <%= f.text_field :address_1, required: true, class: 'pure-input-1'  %>
      </div>
      <div class="pure-control-group">
        <%= f.label :address_2, 'c/o' %>
        <%= f.text_field :address_2, class: 'pure-input-1'  %>
      </div>
      <div class="pure-control-group">
        <%= f.label :postal_code, 'ZIP' %>
        <%= f.text_field :postal_code, required: true, class: 'pure-input-1'  %>
      </div>
      <div class="pure-control-group">
        <%= f.label :city, 'City' %>
        <%= f.text_field :city, required: true, class: 'pure-input-1'  %>
      </div>
      <div class="pure-control-group">
        <%= f.label :country, 'Country' %>
        <%= f.country_select :country, {}, { class: 'pure-input-1' } %>
      </div>

      <div class="actions call-to-action small">
        <%= f.submit "Save", class: 'button pure-button button-go' %>
      </div>

    </fieldset>
  <% end %>

</div>

