<p id="notice"><%= notice %></p>

<p>
  <strong>Group:</strong>
  <%= link_to @photo.group.name, @photo.group if @photo.group %>
</p>
<p>
  <strong>Order:</strong>
  <%= link_to @photo.order.id, @photo.order if @photo.order %>
</p>
<p>
  <strong>Sender:</strong>
  <%= @photo.sender_name %> - <%= @photo.sender_email %> 
</p>
<p>
  <strong>Text:</strong>
  <%= @photo.subject %><br />
  <%= @photo.body %>
</p>

<div>
  <%= link_to image_tag(@photo.picture.url(:big)), @photo.picture.url %>

</div>
<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
