<p id="notice"><%= notice %></p>

<h1>Listing Groups</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Photo limit</th>
      <th>Recipient name</th>
      <th>Recipient address 1</th>
      <th>Recipient address 2</th>
      <th>Recipient postal code</th>
      <th>Recipient city</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= link_to group.email, admin_group_path(group) %></td>
        <td><%= group.photo_limit %></td>
        <td><%= group.recipient_name %></td>
        <td><%= group.recipient_address_1 %></td>
        <td><%= group.recipient_address_2 %></td>
        <td><%= group.recipient_postal_code %></td>
        <td><%= group.recipient_city %></td>
        <td><%= link_to 'Show', admin_group_path(group) %></td>
        <td><%= link_to 'Edit', edit_admin_group_path(group) %></td>
        <td><%= link_to 'Destroy', admin_group_path(group), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @groups %>
<br>

<%= link_to 'New Group', new_group_path %>
