<p id="notice"><%= notice %></p>

<p>
  <strong>Identifier/Email:</strong>
  <%= @group.email %>
</p>

<p>
  <strong>Owner</strong>
  <%= @group.owner_name %> <%= @group.owner_email %>
</p>

<p>
  <strong>Photos open</strong>
  <%= @group.photos.open.count %>
</p>

<p>
  <strong>Photos missing</strong>
  <%= @group.photos_missing_for_next_order %>
</p>

<p>
  <strong>Created at</strong>
  <%= l @group.created_at, format: :short %>
</p>

<h1>Recipients</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address 1/2</th>
      <th>Postal code / City / Country</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @group.recipients.each do |recipient| %>
      <tr>
        <td>
          <%= recipient.name %>
        </td>
        <td>
          <%= recipient.address_1 %> 
          <%= recipient.address_2 %>
        </td>
        <td>
          <%= recipient.postal_code %> 
          <%= recipient.city %> 
          <%= recipient.country %>
        </td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>



<h1>Listing Orders</h1>

<table>
  <thead>
    <tr>
      <th>Group</th>
      <th>Print Order Id</th>
      <th>Created at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @group.orders.each do |order| %>
      <tr>
        <td><%= link_to order.group.email, admin_group_path(order.group) if order.group %></td>
        <td><%= link_to order.print_order_id, "https://dashboard.pwinty.com/Order/Detail/#{order.print_order_id}" if order.print_order_id? %></td>
        <td><%= l order.created_at, format: :short %></td>
        <td><%= link_to 'Show', admin_order_path(order) %></td>
        <td><%= link_to 'Destroy', admin_order_path(order), method: :delete, data: { confirm: 'Are you sure?' } unless order.print_order_id? %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<h1>Next Photos</h1>
<p>
  <%= button_to 'Create order for next photos', admin_group_orders_url(@group), method: :post, data: { confirm: 'Are you sure?', disable_with: 'loading...' } if @group.photos.open.any? %>
</p>

<table>
  <thead>
    <tr>
      <th>Picture</th>
      <th>Group</th>
      <th>Sender e-mail</th>
      <th>Sender name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @group.photos.open.each do |photo| %>
      <tr>
        <th><%= link_to(image_tag(photo.picture.url(:small)), admin_photo_path(photo)) %></td>
        <td><%= link_to(photo.group.email, admin_group_url(photo.group)) if photo.group %></td>
        <td><%= photo.sender_email %></td>
        <td><%= photo.sender_name %></td>
        <td><%= link_to 'Show', admin_photo_path(photo) %></td>
        <td><%= link_to 'Destroy', admin_photo_path(photo), method: :delete, data: { confirm: 'Are you sure?' } unless photo.order_id? %></td>
      </tr>
    <% end %>
  </tbody>
</table>
