<!DOCTYPE html>
<html>
<head>
  <title>Tasveer.de</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <% if Rails.env.production? %>
    <style type="text/css">
      @import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
    </style>
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper">
  <div id="logo">
    <h1>Tasveer.de</h1>
  </div>
  <% [:notice, :error, :success].each do |f| %>
    <% next unless flash[f].present? %>
    <div class="flash <%=  f %>">
      <%= flash[f] %>
    </div>
  <% end %>

  <%= yield %>

</div>
</body>
</html>
